@font-face {
  font-family: 'icon';
  src:
    url('fonts/icon.ttf?58n3re') format('truetype'),
    url('fonts/icon.woff?58n3re') format('woff'),
    url('fonts/icon.svg?58n3re#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-full-screen:before {
  content: "\e902";
}
.icon-settings:before {
  content: "\e900";
}
.icon-timer:before {
  content: "\e901";
}
