@font-face
  font-family 'Ubuntu Mono'
  src url(./UbuntuMono-Regular.ttf)

body
  --time-size 64px
  margin 0
  line-height 1
  width 100vw
  height 100vh
  overflow hidden
  transition .1s filter
.invert
  filter invert(1)

input
  background none
  color var(--color)
  border 1px solid var(--color-c)
  padding 8px 12px
  border-radius 4px
  outline 0
  transition .1s background, .1s border-color
  &:hover
    background var(--color-1)
  &:focus
    background var(--color-1)
    border-color var(--color)
button
  all unset
  box-sizing border-box
  flex 1
  padding 16px
  text-align center
  border 1px solid var(--color-c)
  border-radius 8px
  transition .1s scale, .1s background
  white-space nowrap
  &:hover
    background var(--color-4)
    &:active
      scale .98

// Action
.action-toggle
  position fixed
  top 0
  left 0
  width 100vw
  height 100vh
.actions
  position fixed
  top 0
  right 0
  display flex
  // gap 16px
  pointer-events none
.action
  color var(--color-c)
  padding 16px
  transition .3s translate cubic-bezier(0.5, 0, 0, 1.6), .1s color, .1s scale
  translate 0 -48px
  &:hover
    color var(--color)
    &:active
      scale .9
  &:nth-child(1)
    transition-delay .1s, 0s, 0s
  &:nth-child(2)
    transition-delay .05s, 0s, 0s
.actions-show
  pointer-events all
  .action
    translate 0 0

// Panel
.panel
  position fixed
  top 0
  left 0
  width 100vw
  height 100vh
  background var(--bg-4)
  backdrop-filter blur(10px)
  display flex
  flex-direction column
  gap 8px
  padding 64px
  opacity 0
  pointer-events none
  transition .1s opacity
  &>button
    flex 0
.panel-show
  opacity 1
  pointer-events all
.panel-ops
  flex 1
  display flex
  align-items flex-end
  flex-wrap wrap
  align-content flex-end
  gap 8px

// Clock
.clock
  position fixed
  top 50%
  left 50%
  translate -50% -50%
  // display flex
  // flex-direction column
  display grid
  grid-template-areas "time target" "time duration" "line line"
  gap 8px
.time
  grid-area time
  font-family 'Ubuntu Mono'
  font-size var(--time-size)
  display flex
.time-digit
  position relative
  height var(--time-size)
  width calc(var(--time-size) / 2)
  overflow hidden
  &[num="1"] .time-num
    translate 0 calc(-1 * var(--time-size))
  &[num="2"] .time-num
    translate 0 calc(-2 * var(--time-size))
  &[num="3"] .time-num
    translate 0 calc(-3 * var(--time-size))
  &[num="4"] .time-num
    translate 0 calc(-4 * var(--time-size))
  &[num="5"] .time-num
    translate 0 calc(-5 * var(--time-size))
  &[num="6"] .time-num
    translate 0 calc(-6 * var(--time-size))
  &[num="7"] .time-num
    translate 0 calc(-7 * var(--time-size))
  &[num="8"] .time-num
    translate 0 calc(-8 * var(--time-size))
  &[num="9"] .time-num
    translate 0 calc(-9 * var(--time-size))
.time-num
  position relative
  transition .5s translate cubic-bezier(1, 0, 0, 1)
  translate 0 0
@keyframes time-colon
  0%
    opacity .3
  100%
    opacity .7
.time-colon
  animation time-colon 1s linear infinite alternate
@keyframes line-bg
  0%
    background-position 0px 0px
  100%
    background-position 0 16px
.line
  grid-area line
  height 8px
  width calc(var(--time-size) * 5.5)
  background linear-gradient(45deg,var(--color) 25%,#0000 0,#0000 50%,var(--color) 0,var(--color) 75%,#0000 0)
  background-size 16px 16px
  animation line-bg 1s linear infinite
  position relative
  &:before
    content ''
    position absolute
    display block
    height 100%
    width var(--prog)
    background var(--color)
    opacity 0
    transition 1s opacity
.line-active
  background none
  outline 1px solid var(--color-1)
  &:before
    opacity 1
.timer-target
.timer-duration
  font-family 'Ubuntu Mono'
  font-size calc(var(--time-size) * 2 / 5)
  text-align right
  animation time-colon 1s linear infinite alternate
.timer-target
  grid-area target
  translate 0 calc(var(--time-size) / 6)
.timer-duration
  grid-area duration
  animation-delay .3s
