:root
  --size 2
  --offset 0

body
  margin 0
  user-select none

::selection
  background var(--color-c)
  color var(--bg)

input
  all unset
  box-sizing border-box
  -moz-appearance textfield
  &::-webkit-outer-spin-button
  &::-webkit-inner-spin-button
    -webkit-appearance none
    appearance none

button
  all unset
  position relative
  box-sizing border-box
  transform skew(-20deg)
  border-radius 10px
  background var(--color-c)
  color var(--bg)
  padding 8px 12px
  transition .1s background, .1s scale
  z-index 1
  &>*
    transform skew(20deg)
  &:not(:disabled)
    &:active
      scale .9
    &:hover:not(:disabled)
      @media (pointer: fine)
        background var(--color)
  &:disabled
    opacity .5

.flex
  flex auto

.dialog
  position fixed
  top 50%
  left 0
  width 100%
  height 0px
  translate 0 -50%
  border 1px solid var(--color-4)
  border-left none
  border-right none
  backdrop-filter blur(20px)
  transition 1s height cubic-bezier(0.25, 0.1, 0.25, 1.5)
  overflow hidden
@keyframes dialog-in
  0%
    left calc(var(--left) * 2)
@keyframes dialog-out
  100%
    left 0
.dialog-inner
  position absolute
  --left s('max(10px, calc(50% - 300px))')
  left var(--left)
  width calc(100% - var(--left) * 2)
  padding 32px 0
  animation dialog-in 1s cubic-bezier(0.25, 0.1, 0, 1.35)
  &>button
    width 100%
.dialog-bg
  position absolute
  font-size 256px
  line-height 1
  opacity .1
  filter grayscale(.5)
  top -32px
  left -64px
.dialog-title
  font-size 64px
  font-weight lighter
.dialog-content
  margin-bottom 8px
.dialog-closing
  transition 1s height cubic-bezier(1, 0, 1, 0.5)
  .dialog-inner
    animation dialog-out 1s cubic-bezier(0.8, -0.32, 1, 0.15)

// Matrix Size Control
.control
  position relative
  display flex
  backdrop-filter blur(3px)
  z-index 100
  padding 4px 8px

.size-input
  padding 4px 12px
  text-align center

.size-input-box
  overflow hidden
  position relative
  margin 0 -16px

@keyframes size-effect
  0%
    scale 1
    opacity 1
  50%
    opacity 1
  100%
    scale 150
    opacity 0

.size-effect
  position absolute
  height 10px
  width 10px
  top 50%
  translate 0% -50%
  background radial-gradient(closest-side, #0000, #0000 30%, var(--color) 60%, #0000 80%)
  animation size-effect .2s cubic-bezier(0.6, 0, 1, 0.45)
  z-index -1
.size-add
  right 0
.size-reduce
  left 0

// Matrix
.factor
  position fixed
  top 50%
  left 50%
  translate -50% -50%
  line-height 1
  font-size 50vmin
  font-weight bolder
  opacity .1
@keyframes shake
  0%, 100%
    transform translateX(0)
  10%, 30%, 50%, 70%, 90%
    transform translateX(-20px) rotate(-10deg)
  20%, 40%, 60%, 80%
    transform translateX(20px) rotate(10deg)
.matrix
  position fixed
  top 50%
  left 50%
  translate calc((var(--size) + var(--offset)) * -16px) calc((var(--size) + var(--offset)) * -16px)
  border 1px solid var(--color-c)
  border-top none
  border-bottom none
  transition 1s translate cubic-bezier(0.25, 0.1, 0.25, 1.5), .5s width ease, .5s height ease
  width calc(var(--size) * 32px + 1px)
  height calc(var(--size) * 32px)
  display flex
  flex-direction column
  overflow hidden
.matrix-cleaning
  animation shake 0.82s cubic-bezier(.36,.07,.19,.97) both
.matrix-effect
  position fixed
  top 50%
  left 50%
  translate calc((var(--size) + var(--offset)) * -16px) calc((var(--size) + var(--offset)) * -16px)
  transition 1s translate cubic-bezier(0.25, 0.1, 0.25, 1.5), .5s width ease, .5s height ease
  width calc(var(--size) * 32px + 1px)
  height calc(var(--size) * 32px)
  pointer-events none

.line
  display flex
  position absolute
  top calc(var(--i) * 32px)
  left 0
  transition .3s top ease, .3s opacity

.cell
  position absolute
  top 0
  left calc(var(--i) * 32px)
  transition .3s left ease, .3s opacity
  width 32px
  height 32px
  line-height 32px
  text-align center

@keyframes row-in
  0%
    scale 1 0
@keyframes row-out
  0%
    scale 1 1
@keyframes scaler-out
  0%
    opacity 1
.row
  position absolute
  top calc(var(--i) * 32px)
  left 0
  transition .3s top ease
  border 1px solid var(--color-c)
  height 32px
  width calc(var(--size) * 32px)
  animation row-in .1s ease
.row-removing
  animation row-out .1s ease
  scale 1 0
.row-scaler
  width calc(var(--size) * 32px + 32px)
  display flex
  animation row-in .1s ease
  background var(--bg)
  &>*
    width 32px
    height 32px
    line-height 32px
    text-align center
.row-scaler-removing
  width calc(var(--size) * 32px)
  opacity 0
  background var(--color)
  color var(--color)
  animation scaler-out .2s ease-out
  &>:last-child
    display none

@keyframes column-in
  0%
    scale 0 1
@keyframes column-out
  0%
    scale 1 1
.column
  position absolute
  left calc(var(--i) * 32px)
  top 0
  transition .3s left ease
  border 1px solid var(--color-c)
  width 32px
  height calc(var(--size) * 32px)
  animation column-in .1s ease
.column-removing
  animation column-out .1s ease
  scale 01
.column-scaler
  height calc(var(--size) * 32px + 32px)
  display flex
  flex-direction column
  animation column-in .1s ease
  background var(--bg)
  &>*
    width 32px
    height 32px
    line-height 32px
    text-align center
.column-scaler-removing
  height calc(var(--size) * 32px)
  opacity 0
  background var(--color)
  color var(--color)
  animation scaler-out .2s ease-out
  &>:last-child
    display none

.offseted
  opacity .5
