:root {
  --bg: #fff;
  --bg-1: #fff1;
  --bg-4: #fff4;
  --color: #000;
  --color-c: rgba(255, 255, 255, 0.8);
  --color-4: rgba(0, 0, 0, 0.267);
  --color-1: rgba(0, 0, 0, 0.067);
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000;
    --bg-1: #0001;
    --bg-4: #0004;
    --color: #fff;
    --color-c: rgba(255, 255, 255, 0.8);
    --color-4: rgba(255, 255, 255, 0.267);
    --color-1: rgba(255, 255, 255, 0.067);
  }
}
* {
  box-sizing: border-box;
}
body {
  margin: 32px;
  background: var(--bg);
  color: var(--color);
  user-select: none;
}
h1,
h2 {
  margin: 0;
  font-weight: 100;
  font-size: 64px;
}
h2 {
  font-size: 32px;
}
a {
  color: var(--color-c);
  text-decoration: none;
}
a:hover {
  color: var(--color);
}
