body
	background #000
	color #eee

a
	color inherit
	text-decoration none

.items
	display flex
	flex-wrap wrap
	gap 8px

.item
	position relative
	padding 16px
	text-align center
	opacity .8
	transition .1s opacity, .1s scale
	&>*
		position relative
	&:before
		position absolute
		top 0
		left 0
		display block
		width 100%
		height 100%
		border 1px solid #fff4
		border-radius 16px
		background #fff1
		content ''
		opacity 0
		transition .1s opacity, .1s scale
		scale .9
	&:hover
		opacity 1
		&:before
			opacity 1
			scale 1
	&:active
		scale .95
