/* :root
  --bg #fff
  --color #000
  --color-c #fffc
  --color-4 #0004
  --color-1 #0001
  @media (prefers-color-scheme: dark)
    --bg #000
    --color #fff
    --color-c #fffc
    --color-4 #fff4
    --color-1 #fff1

*
  box-sizing border-box
body
  margin 32px
  background var(--bg)
  color var(--color)
  user-select none

h1, h2
  margin 0
  font-weight 100
  font-size 64px

h2
  font-size 32px

a
  color var(--color-c)
  text-decoration none
  &:hover
    color var(--color) */

.items
  margin 16px 0
  display flex
  flex-wrap wrap
  gap 16px
.item
  border 1px solid var(--color-4)
  border-radius 16px
  padding 16px
  transition .2s color, .2s background, .1s scale
  img
    opacity .8
    transition .2s opacity
  &:hover
    background var(--color-1)
    img
      opacity 1
    &:active
      scale .95
.item-name
  text-align center
